CIDER/schema/cider.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <choice>
      <ref name="collection"/>
      <ref name="series"/>
      <ref name="item"/>
      <ref name="recordContext"/>
      <ref name="location"/>
    </choice>
  </start>
  <define name="required">
    <notAllowed/>
  </define>
  <define name="object">
    <attribute name="number">
      <ref name="number"/>
    </attribute>
    <optional>
      <!--
        TO DO: This causes a libxml2 error:
        attribute parent { number? }?,  
      -->
      <attribute name="parent">
        <choice>
          <ref name="number"/>
          <empty/>
        </choice>
      </attribute>
    </optional>
    <choice>
      <element name="title">
        <ref name="line"/>
      </element>
      <ref name="required"/>
    </choice>
  </define>
  <define name="collection">
    <element name="collection">
      <ref name="object"/>
      <optional>
        <element name="bulkDate">
          <optional>
            <ref name="dateRange"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="scope">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="organization">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="recordContexts">
          <optional>
            <element name="primary">
              <zeroOrMore>
                <element name="recordContext">
                  <ref name="recordID"/>
                </element>
              </zeroOrMore>
            </element>
          </optional>
          <optional>
            <element name="secondary">
              <zeroOrMore>
                <element name="recordContext">
                  <ref name="recordID"/>
                </element>
              </zeroOrMore>
            </element>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="history">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <choice>
        <element name="documentation">
          <ref name="documentation"/>
        </element>
        <ref name="required"/>
      </choice>
      <optional>
        <element name="processingNotes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="associatedMaterial">
          <zeroOrMore>
            <element name="material">
              <ref name="line"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <!-- Default language is "eng". -->
        <element name="languages">
          <zeroOrMore>
            <element name="language">
              <ref name="lang"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="subjects">
          <zeroOrMore>
            <element name="subject">
              <ref name="line"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <choice>
        <element name="processingStatus">
          <ref name="processingStatus"/>
        </element>
        <ref name="required"/>
      </choice>
      <optional>
        <element name="permanentURL">
          <optional>
            <ref name="url"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="pid">
          <optional>
            <ref name="pid"/>
          </optional>
        </element>
      </optional>
      <optional>
        <!-- Default publicationStatus is "draft". -->
        <element name="publicationStatus">
          <optional>
            <ref name="publicationStatus"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="relationships">
          <zeroOrMore>
            <ref name="relationship"/>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <ref name="auditTrail"/>
      </optional>
    </element>
  </define>
  <define name="series">
    <element name="series">
      <ref name="object"/>
      <optional>
        <element name="bulkDate">
          <optional>
            <ref name="dateRange"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="description">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="arrangement">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <ref name="auditTrail"/>
      </optional>
    </element>
  </define>
  <define name="item">
    <element name="item">
      <ref name="object"/>
      <optional>
        <element name="creators">
          <zeroOrMore>
            <element name="creator">
              <ref name="name"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <!-- Default circa is "false". -->
        <element name="circa">
          <optional>
            <data type="boolean"/>
          </optional>
        </element>
      </optional>
      <optional>
        <!-- date is temporarily not required, while importing legacy data. -->
        <element name="date">
          <optional>
            <ref name="dateRange"/>
          </optional>
        </element>
      </optional>
      <optional>
        <!-- Default restrictions is "none". -->
        <element name="restrictions">
          <optional>
            <ref name="restrictions"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="accessionNumber">
          <optional>
            <ref name="accessionNumber"/>
          </optional>
        </element>
      </optional>
      <optional>
        <!-- Default dcType is "Text". -->
        <element name="dcType">
          <optional>
            <ref name="dcType"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="personalNames">
          <zeroOrMore>
            <element name="personalName">
              <ref name="name"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="corporateNames">
          <zeroOrMore>
            <element name="corporateName">
              <ref name="name"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="topicTerms">
          <zeroOrMore>
            <element name="topicTerm">
              <ref name="topicTerm"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="geographicTerms">
          <zeroOrMore>
            <element name="geographicTerm">
              <ref name="geographicTerm"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="description">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="volume">
          <optional>
            <ref name="line"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="issue">
          <optional>
            <ref name="line"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="abstract">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="citation">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
      <choice>
        <element name="classes">
          <oneOrMore>
            <ref name="class"/>
          </oneOrMore>
        </element>
      </choice>
      </optional>
      <optional>
        <ref name="auditTrail"/>
      </optional>
    </element>
  </define>
  <define name="recordContext">
    <element name="recordContext">
      <attribute name="recordID">
        <ref name="recordID"/>
      </attribute>
      <optional>
        <element name="publicationStatus">
          <optional>
            <ref name="publicationStatus"/>
          </optional>
        </element>
      </optional>
      <choice>
        <element name="nameEntry">
          <ref name="line"/>
        </element>
        <ref name="required"/>
      </choice>
      <optional>
        <!-- Default rcType is "corporateBody". -->
        <element name="rcType">
          <optional>
            <ref name="recordContextType"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="alternateNames">
          <zeroOrMore>
            <element name="name">
              <ref name="line"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="date">
          <optional>
            <ref name="dateRange"/>
          </optional>
        </element>
      </optional>
      <optional>
        <!-- Default circa is "false". -->
        <element name="circa">
          <optional>
            <data type="boolean"/>
          </optional>
        </element>
      </optional>
      <optional>
        <!-- Default ongoing is "false". -->
        <element name="ongoing">
          <optional>
            <data type="boolean"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="abstract">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="history">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="structureNotes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="context">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="sources">
          <zeroOrMore>
            <element name="source">
              <ref name="line"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="function">
          <optional>
            <ref name="function"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="occupations">
          <zeroOrMore>
            <element name="occupation">
              <element name="titles">
                <oneOrMore>
                  <element name="title">
                    <ref name="line"/>
                  </element>
                </oneOrMore>
              </element>
              <element name="date">
                <ref name="dateRange"/>
              </element>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="relationships">
          <zeroOrMore>
            <ref name="recordContextRelationship"/>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <ref name="auditTrail"/>
      </optional>
    </element>
  </define>
  <define name="location">
    <element name="location">
      <choice>
        <element name="titles">
          <oneOrMore>
            <element name="title">
              <ref name="line"/>
            </element>
          </oneOrMore>
        </element>
        <ref name="required"/>
      </choice>
      <optional>
        <element name="collectionNumbers">
          <zeroOrMore>
            <element name="number">
              <ref name="number"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="seriesNumbers">
          <zeroOrMore>
            <element name="number">
              <ref name="number"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <choice>
        <attribute name="locationID">
          <ref name="locationID"/>
        </attribute>
        <ref name="required"/>
      </choice>
      <choice>
        <element name="unitType">
          <ref name="unitType"/>
        </element>
        <ref name="required"/>
      </choice>
    </element>
  </define>
  <!-- Item classes -->
  <define name="class">
    <choice>
      <ref name="group"/>
      <ref name="fileFolder"/>
      <ref name="container"/>
      <ref name="boundVolume"/>
      <ref name="threeDimensionalObject"/>
      <ref name="audioVisualMedia"/>
      <ref name="document"/>
      <ref name="physicalImage"/>
      <ref name="digitalObject"/>
      <ref name="browsingObject"/>
    </choice>
  </define>
  <define name="group">
    <element name="group">
      <empty/>
    </element>
  </define>
  <define name="fileFolder">
    <element name="fileFolder">
      <ref name="classAction" />
      <element name="location">
        <ref name="locationID"/>
      </element>
      <optional>
        <element name="notes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <define name="container">
    <element name="container">
      <ref name="classAction" />
      <element name="location">
        <ref name="locationID"/>
      </element>
      <optional>
        <element name="format">
          <optional>
            <ref name="format"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <define name="boundVolume">
    <element name="boundVolume">
      <ref name="classAction" />
      <element name="location">
        <ref name="locationID"/>
      </element>
      <optional>
        <element name="format">
          <optional>
            <ref name="format"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="rights">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <define name="threeDimensionalObject">
    <element name="threeDimensionalObject">
      <ref name="classAction" />
      <element name="location">
        <ref name="locationID"/>
      </element>
      <optional>
        <element name="format">
          <optional>
            <ref name="format"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="rights">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <define name="audioVisualMedia">
    <element name="audioVisualMedia">
      <ref name="classAction" />
      <element name="location">
        <ref name="locationID"/>
      </element>
      <optional>
        <element name="format">
          <optional>
            <ref name="format"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="rights">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <define name="document">
    <element name="document">
      <ref name="classAction" />
      <element name="location">
        <ref name="locationID"/>
      </element>
      <optional>
        <element name="format">
          <optional>
            <ref name="format"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="dimensions">
          <optional>
            <ref name="line"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="rights">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <define name="physicalImage">
    <element name="physicalImage">
      <ref name="classAction" />
      <element name="location">
        <ref name="locationID"/>
      </element>
      <optional>
        <element name="format">
          <optional>
            <ref name="format"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="dimensions">
          <optional>
            <ref name="line"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="rights">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <define name="digitalObject">
    <element name="digitalObject">
      <ref name="classAction" />
      <element name="location">
        <ref name="locationID"/>
      </element>
      <optional>
        <element name="format">
          <optional>
            <ref name="format"/>
          </optional>
        </element>
      </optional>
      <element name="pid">
        <ref name="pid"/>
      </element>
      <optional>
        <element name="permanentURL">
          <optional>
            <ref name="url"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="rights">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="relationships">
          <zeroOrMore>
            <ref name="relationship"/>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="checksum">
          <optional>
            <ref name="line"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="fileExtension">
          <optional>
            <ref name="fileExtension"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="originalFilename">
          <optional>
            <ref name="line"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="tableOfContents">
          <optional>
            <ref name="multiline"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="stabilization">
          <optional>
            <!-- TO DO: should some of these be required? -->
            <element name="by">
              <optional>
                <ref name="staff"/>
              </optional>
            </element>
          </optional>
          <optional>
            <element name="date">
              <optional>
                <ref name="date"/>
              </optional>
            </element>
          </optional>
          <optional>
            <element name="procedure">
              <optional>
                <ref name="stabilizationProcedure"/>
              </optional>
            </element>
          </optional>
          <optional>
            <element name="notes">
              <optional>
                <ref name="multiline"/>
              </optional>
            </element>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="applications">
          <optional>
            <!-- Default checksum application is "Advanced Checksum Verifier" -->
            <element name="checksum">
              <optional>
                <ref name="application"/>
              </optional>
            </element>
          </optional>
          <optional>
            <!-- Default mediaImage application is "WinImage" -->
            <element name="mediaImage">
              <optional>
                <ref name="application"/>
              </optional>
            </element>
          </optional>
          <optional>
            <!-- Default virusCheck application is "Office Scan" -->
            <element name="virusCheck">
              <optional>
                <ref name="application"/>
              </optional>
            </element>
          </optional>
          <optional>
            <element name="other">
              <zeroOrMore>
                <element name="application">
                  <ref name="line"/>
                </element>
              </zeroOrMore>
            </element>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="fileCreationDate">
          <optional>
            <ref name="date"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <define name="browsingObject">
    <element name="browsingObject">
      <ref name="classAction" />
      <optional>
        <element name="format">
          <optional>
            <ref name="format"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="pid">
          <optional>
            <ref name="pid"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="thumbnailPID">
          <optional>
            <ref name="pid"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="relationships">
          <zeroOrMore>
            <ref name="relationship"/>
          </zeroOrMore>
        </element>
      </optional>
    </element>
  </define>
  <!-- Relationships -->
  <define name="relationship">
    <element name="relationship">
      <attribute name="predicate">
        <ref name="relationshipPredicate"/>
      </attribute>
      <element name="pid">
        <ref name="pid"/>
      </element>
    </element>
  </define>
  <define name="recordContextRelationship">
    <element name="relationship">
      <attribute name="type">
        <ref name="recordContextRelationshipType"/>
      </attribute>
      <element name="relatedEntity">
        <ref name="recordID"/>
      </element>
      <optional>
        <element name="date">
          <optional>
            <ref name="dateRange"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <!-- Audit Trail -->
  <define name="auditTrail">
    <element name="auditTrail">
      <element name="create">
        <ref name="log"/>
      </element>
      <zeroOrMore>
        <choice>
          <element name="update">
            <ref name="log"/>
          </element>
          <element name="export">
            <ref name="log"/>
          </element>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="log">
    <element name="timestamp">
      <choice>
        <data type="date"/>
        <data type="dateTime"/>
      </choice>
    </element>
    <element name="staff">
      <ref name="staff"/>
    </element>
  </define>
  <!-- Authority Lists -->
  <define name="application">
    <ref name="line"/>
  </define>
  <define name="staff">
    <element name="firstName">
      <ref name="line"/>
    </element>
    <element name="lastName">
      <ref name="line"/>
    </element>
  </define>
  <define name="fileExtension">
    <ref name="line"/>
  </define>
  <define name="format">
    <ref name="line"/>
  </define>
  <define name="function">
    <ref name="line"/>
  </define>
  <define name="geographicTerm">
    <element name="name">
      <ref name="line"/>
    </element>
    <optional>
      <element name="note">
        <ref name="line"/>
      </element>
    </optional>
  </define>
  <define name="name">
    <element name="name">
      <ref name="line"/>
    </element>
    <optional>
      <element name="note">
        <ref name="line"/>
      </element>
    </optional>
  </define>
  <define name="topicTerm">
    <element name="name">
      <ref name="line"/>
    </element>
    <optional>
      <element name="note">
        <ref name="line"/>
      </element>
    </optional>
  </define>
  <!-- Controlled Vocabularies -->
  <define name="dcType">
    <choice>
      <value>Collection</value>
      <value>Dataset</value>
      <value>Event</value>
      <value>Image</value>
      <value>InteractiveResource</value>
      <value>MovingImage</value>
      <value>PhysicalObject</value>
      <value>Service</value>
      <value>Software</value>
      <value>Sound</value>
      <value>StillImage</value>
      <value>Text</value>
    </choice>
  </define>
  <define name="documentation">
    <choice>
      <value>yes</value>
      <value>no</value>
    </choice>
  </define>
  <define name="processingStatus">
    <choice>
      <value>minimal</value>
      <value>partial</value>
      <value>restricted</value>
      <value>open</value>
    </choice>
  </define>
  <define name="publicationStatus">
    <choice>
      <value>draft</value>
      <value>ready</value>
      <value>exported</value>
      <value>re-export</value>
    </choice>
  </define>
  <define name="recordContextType">
    <choice>
      <value>corporateBody</value>
      <value>family</value>
      <value>person</value>
    </choice>
  </define>
  <define name="recordContextRelationshipType">
    <choice>
      <value>reportsTo</value>
      <value>hasReport</value>
      <value>isPartOf</value>
      <value>hasPart</value>
      <value>isMemberOf</value>
      <value>hasMember</value>
      <value>isPrecededBy</value>
      <value>isFollowedBy</value>
      <value>isAssociatedWith</value>
      <value>isChildOf</value>
      <value>isParentOf</value>
      <value>isCousinOf</value>
      <value>isSiblingOf</value>
      <value>isSpouseOf</value>
      <value>isGrandchildOf</value>
      <value>isGrandparentOf</value>
    </choice>
  </define>
  <define name="relationshipPredicate">
    <choice>
      <value>fedora-model:hasModel</value>
      <value>rel:isMemberOfCollection</value>
      <value>rel:hasDescription</value>
      <value>rel:isDependentOf</value>
      <value>rel:isConstituentOf</value>
      <value>rel:isSubsetOf</value>
      <value>rel:isMemberOf</value>
    </choice>
  </define>
  <define name="restrictions">
    <choice>
      <value>none</value>
      <value>20 years</value>
      <value>75 years</value>
      <value>condition</value>
    </choice>
  </define>
  <define name="stabilizationProcedure">
    <choice>
      <value>ACC-007</value>
      <value>ACC-009</value>
    </choice>
  </define>
  <define name="unitType">
    <choice>
      <value>1.20 cubic ft.</value>
      <value>0.55 cubic ft.</value>
      <value>0.50 cubic ft.</value>
      <value>0.40 cubic ft.</value>
      <value>0.25 cubic ft.</value>
      <value>0.20 cubic ft.</value>
      <value>zero</value>
      <value>Bound volume</value>
      <value>Artifact</value>
      <value>Audio-visual media</value>
      <value>Digital objects</value>
    </choice>
  </define>
  <define name="classAction">
    <optional>
      <attribute name="action">
        <choice>
          <value>create</value>
          <value>update</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    Datatypes
    TO DO: constrain these with patterns?
  -->
  <define name="number">
    <ref name="line"/>
  </define>
  <define name="pid">
    <ref name="line"/>
  </define>
  <define name="accessionNumber">
    <ref name="line"/>
  </define>
  <define name="recordID">
    <ref name="line"/>
  </define>
  <define name="locationID">
    <ref name="line"/>
  </define>
  <!-- TO DO: should line and multiline require at least one non-space? -->
  <!--
    A line is a non-empty string containing no line separators,
    paragraph separators, or control characters (except tab).
    TO DO: the minLength is redundant because of the + in the pattern,
    but XML::LibXML::RelaxNG seems to admit empty strings without it
  -->
  <define name="line">
    <data type="string">
      <param name="pattern">([^\p{Zl}\p{Zp}\p{C}]|\t)+</param>
      <param name="minLength">1</param>
    </data>
  </define>
  <!-- A multiline string is non-empty but otherwise unconstrained. -->
  <define name="multiline">
    <data type="string">
      <param name="minLength">1</param>
    </data>
  </define>
  <!-- A date range is either a single date or a from/to pair. -->
  <define name="dateRange">
    <choice>
      <ref name="date"/>
      <group>
        <element name="from">
          <ref name="date"/>
        </element>
        <element name="to">
          <ref name="date"/>
        </element>
      </group>
    </choice>
  </define>
  <!--
    A date is an ISO-8601 date, i.e. YYYY-MM-DD, YYYY-MM, or YYYY.
    TO DO: disallow time zone representations?
  -->
  <define name="date">
    <choice>
      <data type="date"/>
      <data type="gYearMonth"/>
      <data type="gYear"/>
    </choice>
  </define>
  <!--
    A lang is an ISO 639-2 3-letter language code.
    TO DO: does xsd:language include other 3-letter codes?
  -->
  <define name="lang">
    <data type="language">
      <param name="length">3</param>
    </data>
  </define>
  <!-- A url is a uri whose scheme is http or https. -->
  <define name="url">
    <data type="anyURI">
      <param name="pattern">https?:.*</param>
    </data>
  </define>
</grammar>
